+++
title = "Geocollab"
linkTitle = "Geocollab"
+++

{{< blocks/cover title="Welcome to GeoCollab!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Geocache management made easy.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
GeoCollab gives you a web interface for planning your tours and administering your caches, as well as generating your
found statistics the easy way.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-compass" title="Tour planning" %}}
Whether you are planning your next roadtrip or just want to have a quick walk in the afternoon. We got you covered.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-table" title="Statistics" %}}
Whether you have 10 or 10000 founds. We generate your statistics according to your wishes.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-globe" title="Collaboration" %}}
You want to send your friend the planned tour, a single mystery or you are planning to create a new powertrail and want
to share it with your beta testers? Never leak any information and just share it via our webinterface we take care of
protecting your mystery solutions and corrected coordinated.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Want to get started?</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fas fa-user-plus" title="Register here!" %}}
Or host your own instance of GeoCollab if you don't trust us.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Developers" url="https://gitlab.com/geocollab/geocollab.gitlab.io" %}}
Whether you want to add a new feature or want to report a security vulnerability. Our developer guides should have you
covered.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitter" title="Social" url="https://twitter.com/GoHugoIO" %}}
If you want to get in touch with us please join one of our Gitter rooms or write us a mail.
{{% /blocks/feature %}}

{{< /blocks/section >}}
